<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Coverfly</title>
	<meta name="description" content="Find cool covers of your favorite songs!">
	<meta name="author" content="Jimmy Farrell">
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div id="search-bar">
			<h1>So Many Covers, So Little Time</h1>
			<form action="/search" method="POST">
				<label for="artist_field">Artist:</label>
				<input name="artist" type="text" id="artist_field"/>
			  	<label for="song_field">Song:</label>
			  	<input name="song" type="text" id="song_field"/>
				<input type="submit" value="Submit" />
			</form>
		</div>
		<div id="spotify-results" class="col-xs-4">
			<h2 class="stream-service">Spotify</h2>

			{% for track in spotifyResults %}
			<div class="result spotify-track">
				<p class="track-name">{{track.artists[0].name}}<br>{{track.name}}</p>
				<audio controls>
					<source src='{{track.preview_url}}' type='audio/mpeg'>
					<p>Your user agent does not support the HTML5 Audio element.</p>
				</audio>
			</div>
			{% endfor %}

		</div>
		<div id="soundcloud-results" class="col-xs-4">
			<h2 class="stream-service">SoundCloud</h2>

			{% for track in soundcloudResults %}
			<div class="result soundcloud-track">
				<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{track.uri}}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
			{% endfor %}
			
		</div>
		<div id="youtube-results" class="col-xs-4">
			<h2 class="stream-service">YouTube</h2>

			{% for video in youtubeResults %}
					<div class="result soundcloud-track">
					<iframe width="300" height="169" src="https://www.youtube.com/embed/{{video.id.videoId}}" frameborder="0" allowfullscreen></iframe>
					</div>
			{% endfor %}

		</div>
	</div>
	<script src="bootstrap.min.js"></script>
</body>
</html>