<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>disCovers</title>
  <meta name="description" content="Find cool covers of your favorite songs!">
  <meta name="author" content="Jimmy Farrell">

  <!-- <link rel="stylesheet" href="styles.css"> -->

</head>

<body>
	<h1>Find Covers of a Song</h1>
	<form action="/search" method="POST">
		<label for="artist_field">Artist:</label>
		<input name="artist" type="text" id="artist_field"/>
	  <label for="song_field">Song:</label>
	  <input name="song" type="text" id="song_field"/>
	  <input type="submit" value="Submit" />
	</form>

<div>
{% for song in songs %}
<iframe src="https://embed.spotify.com/?uri={{song.uri}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
</div>

</body>
</html>